// Dark/Light Theme
@mixin theme-switch($map) {
	:root {
		&:not(.dark) {
			@each $property, $value in $map {
				$light: nth($value, 1);
				$dark: nth($value, 2);

				#{$property}: #{$light};
			}
		}

		&.dark {
			@each $property, $value in $map {
				$light: nth($value, 1);
				$dark: nth($value, 2);

				#{$property}: #{$dark};
			}
		}
	}
}
