// CSS custom properties for dark/light themes.
// Each property contains 2 values: first is for light theme, second is for dark theme.
// These values used as arbitary in Tailwind utility classes.
$theme-properties: (
	// Text
	--link-color: #006da0 #85b3ee,
	--link-hover-color: #015378 #99c0f4,
	--text-color: $black $text-dark-color,
	--text-muted-color: #5c5c5c #697995,
	--headings-color: $black #e3eeef,

	// Header
	--header-bg: #031733 $dark-0,

	// Scrollbar
	--scrollbar-bg: #dedede $dark-300,
	--scrollbar-hover-bg: #c6c6c6 lighten($dark-300, 5%)
);

// Activate dark/light themes
@include theme-switch($theme-properties);
