// CSS custom properties for dark/light themes.
// Each property contains 2 values: first is for light theme, second is for dark theme.
// These values used as arbitary in Tailwind utility classes.
$theme-properties: (
	// Text
	--link-color: #006da0 #85b3ee,
	--text-color: $black #a2adc0,
	--text-muted-color: #5c5c5c #697995,
	--headings-color: $black #e3eeef,
	// Scrollbar
	--scrollbar-bg: #dedede $dark-300,
	--scrollbar-hover-bg: #c6c6c6 lighten($dark-300, 5%),
	// Typography
	--pre-bg: $light-300 $dark-200
);

// Activate dark/light themes
@include theme-switch($theme-properties);
