// Get Breakpoints
@function breakpoints($key) {
	@return map-get($breakpoints, $key);
}

// Breakpoints
@mixin breakpoint-min($bp) {
	@media (min-width: $bp) {
		@content;
	}
}

@mixin breakpoint-max($bp) {
	@media (max-width: ($bp - 1)) {
		@content;
	}
}

@mixin breakpoint-between($lower, $upper) {
	@media (min-width: $lower) and (max-width: ($upper - 1)) {
		@content;
	}
}

// Hide Scrollbars
@mixin hide-scrollbars {
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
		width: 0;
	}
}
